* {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #fff;
  margin: 0;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.game {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
}

.header {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #9f9f9fc2 2px;
  border-radius: 16px;
  padding: 18px 30px 18px 30px;
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.timer p {
  font-weight: 600;
  font-size: 30px;
  color: #4a4a4a;
}
.name-of-game {
  font-size: 40px;
  width: 160px;
  text-align: left;
  line-height: 0.9;
}

.score-div,
.timer {
  font-size: 1.6rem;
  background-color: #fff;
  padding-inline: 22px;
  border-radius: 16px;
}

.score {
  color: #4d4dff;
  font-size: medium;
  letter-spacing: 6px;
  font-weight: 600;
}

.score-value {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 70px;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 400px;
}

.choice {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6) inset,
    0px 4px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
}

.choice.red {
  border: 12px solid hsl(349, 70%, 56%);
}

.choice.blue {
  border: 12px solid hsl(230, 89%, 62%);
}

.choice.yellow {
  border: 12px solid hsl(39, 89%, 49%);
}

.choice img {
  width: 70%;
  height: 70%;
}

.choice:hover {
  transform: scale(1.1);
}

.choice:active {
  transform: scale(0.95);
}

.choices button:nth-child(3) {
  grid-column: 1 / -1;
}

.result {
  display: flex;
  font-size: 1.5rem;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.user-choice, .computer-choice {
  display: inline-block;
  width: 300px;
  justify-content: center;
  margin: 0 10px;
}

.user-choice p, .computer-choice p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.user-choice-image-container,
.computer-choice-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.user-choice .choice, .computer-choice .choice {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6) inset,
  0px 4px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
}

.user-choice .choice.red, .computer-choice .choice.red {
  border: 12px solid hsl(349, 70%, 56%);
}

.user-choice .choice.blue, .computer-choice .choice.blue {
  border: 12px solid hsl(230, 89%, 62%);
}

.user-choice .choice.yellow, .computer-choice .choice.yellow {
  border: 12px solid hsl(39, 89%, 49%);
}

.user-choice .choice img, .computer-choice .choice img {
  width: 70%;
  height: 70%;
}

.choice:hover {
  transform: scale(1.1);
}

.choice:active {
  transform: scale(0.95);
}

.try-again-container p{
  font-weight: 700;
  font-size: 2.5rem;
}

.try-again {
  width: 160px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: hsl(214, 47%, 23%);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.try-again:hover {
  background-color: hsl(214, 47%, 30%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.rules-button {
  position: absolute;
  right: 70px;
  margin-top: 10px;
  padding: 10px 40px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.rules-button:hover {
  background-color: #fff;
  color: #000;
}

.rules-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #333;
  z-index: 2;
}

.rules-header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.close-rules-button {
  background: none;
  border: none;
  cursor: pointer;
}

.rules-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
